.custom-control.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background: none;
    height: 0.8rem;
    width: 0.5rem;
    border-bottom: 2px solid var(--primary);
    border-right: 2px solid var(--primary);
    transform: rotate(40deg);
    left: -1.6rem;
    top: 0.35rem;
    content: "";
}



.form-check.o-checkbox .form-check-input:checked ~ .form-check-label::after {
  /*  background: none;
    height: 0.8rem;
    width: 0.5rem;
    border-bottom: 2px solid #ddd;
    border-right: 2px solid  #ddd;
    transform: rotate(40deg);
    left: -1.6rem;
    top: 0.35rem;
    content: ""; */
    background-image: url(/ks_curved_backend_theme_enter/static/src/images/checkbox-checked_light.svg);
    background-size: 14px;
    opacity: 1;
    background-position: 2px center;
    content: "";
    background-repeat:no-repeat;
}
.form-check.o-checkbox .form-check-label::before, .form-check-label::after{
    position: absolute;
    display: block;
    pointer-events: none;
    content: "";
    }
 .form-check.o-checkbox .form-check-label::before, .form-check.o-checkbox .form-check-label, .form-check.o-checkbox .form-check-input{
 transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 }
 .form-check.o-checkbox .form-check-label::before, .form-check.o-checkbox .form-check-label::after {
     left: -2rem;
    top: 0.2rem;
    }
   .form-check.o-checkbox .form-check-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    }
    .form-check.o-checkbox .form-check-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    }
   .form-check.o-checkbox {
    padding-left: 2rem;
    word-break: break-all;
    position: relative;
    display: block;
    }
    .form-check.o-checkbox .form-check-label::before, .form-check.o-checkbox .form-check-label::after{
        border:1px solid #ddd;
        border-radius:3px;
    height: 18px;
    width: 18px;
    }


.o_field_boolean_toggle .form-check.o-checkbox .form-check-input {
    z-index: 0 !important;
    opacity: 1 !important;
}
.o_field_boolean_toggle .form-check.o-checkbox .form-check-label::before {
     display:none;
}
.o_field_boolean_toggle .form-check.o-checkbox .form-check-label::after {
     display:none;
}
